<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center ms-5">
        <span><i class="fa fa-users car many truck"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="#"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center ms-5">
        <span><i class="fa fa-book car many truck"></i></span>
        <br>About
      </a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="#"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-phone car many truck"></i></span>
        <br>Contact
      </a>
    </div>
  </div>
</div>

